* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    margin: 0;
}
